<form [formGroup]="form">
  <div class="form-contatos">
    <h2>contatos</h2>
    <mat-form-field class="mx-3">
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="mx-3">
      <mat-label>telefone</mat-label>
      <input matInput formControlName="telefone">
    </mat-form-field>
    <mat-form-field class="mx-3">
      <mat-label>site</mat-label>
      <input matInput formControlName="site">
    </mat-form-field>
  </div>
</form>